<html>
<head lang="en">    <meta charset="UTF-8">     <title></title> </head>
<body ng-app="controllerNesting">
<div> Hey! $event</div>

<div ng-controller="parentCtrl">
    <p>parent</p>
    <hr/>
    <div ng-controller="child1Ctrl">
        <p>child1</p>
        <input ng-model="title">
        <button ng-click="emitNow()" >Emit now</button>
        <div ng-controller="child2Ctrl">
            <p>child2</p>
            <input ng-model="title2" >
            <button ng-click="emitNow()" >Emit now</button>
        </div>
    </div>
    <hr/>
</div>

<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript">

    var app = angular.module("controllerNesting", []);

    app.controller("parentCtrl", function ( $rootScope, $scope ) {
        $scope.$on('dinner', function(evt, data){
            console.log('heard from parent. : ', data);
        });
    });

    app.controller("child1Ctrl", function ( $rootScope, $scope ) {
        $scope.$on('dinner', function(evt, data){
            console.log('heard from child1. : ', data);
        });
        $scope.emitNow = function () {
            $scope.$emit('dinner', $scope.title);
        };
    });

    app.controller("child2Ctrl", function ($rootScope, $scope) {
        $scope.$on('dinner', function(evt, data){
            console.log('heard from child2. : ', data);
        });
        $scope.emitNow = function () {
            $scope.$emit('dinner', $scope.title2);
        };
    });


</script>

</body>
</html>