<html>
<head lang="en">    <meta charset="UTF-8">     <title></title> </head>
<body ng-app="app" ng-controller="Ctrl as Ctrl">
<div> Hey! ng-repeat</div>
<div>

    <!--normal array-->
    <div ng-repeat="friend in Ctrl.friendsArray">
        {{friend.name}}
    </div>

    <hr>
    <!--normal object-->
    <div ng-repeat="(key, category) in Ctrl.creatureObject" class="repeated-item">
        {{key}} | {{category}}
    </div>

    <hr>
    <!--normal array with track by-->
    <!--This tells AngularJS that each friend is uniquely identified by the friend.name value, and to reuse DOM elements as long as the name field does not change.-->
    <div ng-repeat="friend in Ctrl.friendsArray track by friend.name">
        {{friend.name}}
    </div>

</div>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript">

    angular.module("app", [])
            .controller("Ctrl", function ($scope) {

        this.friendsArray = [{
            name: 'Shan'
        }, {
            name: 'Zeeshan'
        }, {
            name: 'Alishan'
        }, {
            name: 'Alisha'
        }, {
            name: 'shaan'
        }];

        this.creatureObject =  {
            lion:'Animal',
            fox:"Animal",
            snake:"Reptile",
            crow:"Bird"
        };

    });

</script>

</body>
</html>