<html>
<head lang="en">    <meta charset="UTF-8">     <title></title> </head>
<body ng-app="updateJSON">
<div> Hey! JSON</div>
<div ng-controller="firstCtrl">
    <!-- approach 1 -->
    <table>
        <tr ng-click="change(item)" ng-repeat="item in prices">
            <td>{{item.Code}}</td> <td>{{item.Selected}}</td>
        </tr>
    </table>

    <!-- approach 2 -->
    <table>
        <tr ng-click="item.Selected = !item.Selected" ng-repeat="item in prices">
            <td>{{item.Code}}</td> <td>{{item.Selected}}</td>
        </tr>
    </table>

</div>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript">

    console.log('hey baby');

    angular.module("updateJSON", [])
            .controller("firstCtrl", function ($scope) {
                $scope.prices = [
                    {
                        "Code": "code1",
                        "Selected": false
                    },
                    {
                        "Code": "code2",
                        "Selected": false
                    }
                ];

                $scope.change = function (item) {
                    item.Selected = !item.Selected;
                };

            })
            .factory('APIMethodService', [function() {
                var Head = "api.verifyvalid";
                return {
                    apis: [
                        {
                            accounts: [
                                {
                                    parameters : [
                                        {
                                            name : "Account",
                                            version : "1.0"
                                        }
                                    ],
                                    uri: Head + "/v1/accounts/account_number",
                                    methods : [
                                        {
                                            name: "Account Number",
                                            desc: "Returns the account number."
                                        }, {
                                            name: "Account Money",
                                            desc: "Returns the monetary amount within the account."
                                        }
                                    ]
                                },
                                {
                                    parameters : [
                                        {
                                            name : "Account",
                                            version : "2.0"
                                        }
                                    ],
                                    uri: Head + "/v2/accounts/account_number",
                                    methods: [
                                        {
                                            name: "Account Number",
                                            desc: "Returns the account number."
                                        }, {
                                            name: "Account Money",
                                            desc: "Returns the monetary amount within the account."
                                        }, {
                                            name: "Account Token",
                                            desc: "Returns the account's token."
                                        }
                                    ]
                                }
                            ],
                            customers:[
                                {
                                    parameters : [
                                        {
                                            name : "Customers",
                                            version : "1.0"
                                        }
                                    ],
                                    uri: Head + "/v1/customers/customer_number",
                                    methods : [
                                        {
                                            name: "Customer Name",
                                            desc: "Returns the customer's name."
                                        }, {
                                            name: "Customer ID",
                                            desc: "Returns the customer's ID."
                                        }
                                    ]
                                },
                                {
                                    parameters : [
                                        {
                                            name : "Customers",
                                            version : "2.0"
                                        }
                                    ],
                                    uri : Head + "/v2/customers/customer_number",
                                    methods: [
                                        {
                                            name: "Customer Name",
                                            desc: "Returns the customer's name."
                                        }, {
                                            name: "Customer ID",
                                            desc: "Returns the customer's ID."
                                        }, {
                                            name: "Customer Email",
                                            desc: "Returns the customer's email."
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                };
            }]);

</script>

</body>
</html>