<html>
<head lang="en">    <meta charset="UTF-8">     <title></title> </head>
<body>
<div> Hey! Angular Input Masks</div>

<div>
    <hr/>
    <div ng-controller="appCtrl">
        <h2>Number | 3 Decimals  </h2>
        <div>
            <input type="text" name="field" ng-model="number" ui-number-mask="3">
        </div>
        <hr/>
        <h2>Money | 2 Decimals  </h2>
        <div>
            <input type="text" name="field" ng-model="number" ui-money-mask>
        </div>
        <hr/>
        <h2>Phone | '3125250784' | 3125250784 </h2>
        <div>
            <input type="text" name="field" ng-model="phoneNumber" ui-br-phone-number>
        </div>
        <hr/>

    </div>

</div>

<script type="text/javascript" src="../bower_components/angular/angular.js"></script>
<script type="text/javascript" src="../bower_components/angular-input-masks/angular-input-masks.min.js"></script>
<script type="text/javascript">

    var app = angular.module("app", ['ui.utils.masks']);
    app.controller("appCtrl", function ($scope) {
        $scope.number = 99;
        $scope.phoneNumber = '3125250784';
    });
    angular.bootstrap(document,['app']);
</script>

</body>
</html>