<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css" rel="stylesheet">
        .css-form input.ng-invalid.ng-touched {
            background-color: #FA787E;
        }

        .css-form input.ng-valid.ng-touched {
            background-color: #78FA89;
        }
    </style>
</head>
<body ng-app="MyApp">

<div> Hey! Forms <a href="https://docs.angularjs.org/guide/forms"> | Source Link</a></div>

<div ng-controller="MyCtrl">
    <br>
    <hr>
    <form name="form" class="css-form" novalidate>
        Name:
        <input type="text" ng-model="user.name" name="uName" required=""/>
        <br/>

        <div ng-show="form.$submitted || form.uName.$touched">
            <div ng-show="form.uName.$error.required">Tell us your name.</div>
        </div>

        E-mail:
        <input type="email" ng-model="user.email" name="uEmail" required=""/>
        <br/>

        <div ng-show="form.$submitted || form.uEmail.$touched">
            <span ng-show="form.uEmail.$error.required">Tell us your email.</span>
            <span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
        </div>

        Gender:
        <input type="radio" ng-model="user.gender" value="male"/>male
        <input type="radio" ng-model="user.gender" value="female"/>female
        <br/>
        <input type="checkbox" ng-model="user.agree" name="userAgree" required=""/>

        I agree:
        <input ng-show="user.agree" type="text" ng-model="user.agreeSign" required=""/>
        <br/>

        <div ng-show="form.$submitted || form.userAgree.$touched">
            <div ng-show="!user.agree || !user.agreeSign">Please agree and sign.</div>
        </div>

        <input type="button" ng-click="reset(form)" value="Reset"/>
        <input type="submit" ng-click="update(user)" value="Save"/>
    </form>
    <!-- ng-model options, update on blur-->
    <br>
    <hr>
    Update Name on Blur, Update Other data on input
    <hr>
    <div ng-controller="BlurCtrl">
        <form>
            Name:
            <input type="text" ng-model="user.name" ng-model-options="{ updateOn: 'blur' }"/><br/>
            Other data:
            <input type="text" ng-model="user.data"/><br/>
        </form>
        <pre>username = "{{user.name}}"</pre>
        <pre>userdata = "{{user.data}}"</pre>
    </div>

</div>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.6/angular.min.js"></script>
<script type="text/javascript">
    angular.module('MyApp', [])
            .controller("MyCtrl", ['$scope', function ($scope) {
                $scope.master = {};

                $scope.update = function (user) {
                    $scope.master = angular.copy(user);
                };

                $scope.reset = function (form) {
                    if (form) {
                        form.$setPristine();
                        form.$setUntouched();
                    }
                    $scope.user = angular.copy($scope.master);
                };

                $scope.reset();
            }])
            .controller("BlurCtrl", ['$scope', function ($scope) {
                $scope.user = {};
            }])

</script>
</body>
</html>
